.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map-container {
  display: flex;
  position: absolute;
}

#main {
  display: flex;
  flex-direction: column;
}

#map {
  position: relative;
}

#map-overlay {
  width: 750px;
  height: 750px;
  display: flex;
  align-items: baseline;
  justify-content: right;
  position: absolute;
  top: 520px;
  right: 120px;
}

div.mazemap-ctrl-logo-wrapper .mazemap-ctrl-logo {
  display: none;
}

a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact .mapboxgl-ctrl-attrib-button, .mapboxgl-ctrl-attrib.mapboxgl-compact-show .mapboxgl-ctrl-attrib-inner {
  display: none;
}